{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <h1>{{ 'welcome'|trans }}</h1>
        <h3>{{ 'heading'|trans }}</h3>
        <table>
            <tr>
                <td>{{ 'two_weeks_ago'|trans }}</td>
                <td>{{ 'week_ago'|trans }}</td>
                <td>{{ 'today'|trans }}</td>
            </tr>
            {% for key,item in data %}
                {% for value in item %}
                    <tr>
                        {% if (key == '-2 week'|date('Y-m-d'))%}
                            <td>{{value.exercise}} {{ value.weight }}kg X {{ value.count }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if (key == '-1 week'|date('Y-m-d')) %}
                            <td>{{value.exercise}} {{ value.weight }}kg X {{ value.count }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                        {% if (key == 'now'|date('Y-m-d')) %}
                            <td>{{value.exercise}} {{ value.weight }}kg X {{ value[loop.index].count }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
{% endblock %}